.NavBarMain {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2px;
}

.NavbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.BlinkiflyBox {
  display: flex;
}

.SiShopware {
  margin-top: 15px;
  font-size: 1.4rem;
  color: orange;
}

.BlinkiflyText {
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  color: Orange;
}

.InputSearch {
  width: 50%;
  background-color: #f5f5f5;
  margin-left: 10rem;
  border: none;
}

.CartIcon {
  margin-right: 12rem;
  cursor: pointer;
  padding-right: 20px;
}

.FiShoppingCart {
  font-size: 1.2rem;
  color: orange;
}

.CartIconText {
  margin: 3px;
  font-size: 14px;
  font-weight: 700;
  vertical-align: super;
  color: orange;
}

.cart-modal {
  background-color: white;
  border-radius: 10px;
}

.cartItemRemoveButton {
  font-size: 2rem;
  color: red;
  cursor: pointer;
}

.DialogBox {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.DialogTitleText {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  color: blue;
}

.DialogFooter {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 10px;
}

.DialogButton {
  color: rgb(249, 249, 253);
  text-decoration: none;
}

.DialogContent {
  margin: 10px auto;
}

.DialogContentHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  font-size: 40px;
  color: #0596f7;
  margin-bottom: 30px;
  font-weight: 700;
  padding: 10px;
  border-bottom: #0596f7 solid 2px;
}

.clearCart {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

.noCartItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.cartItemImage {
  width: 70px;
}

.cartItemQuantityBox {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.cartItemQuantity {
  width: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.cartItemName {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.cartItemIncreaseQuantityButton {
  size: small;
  width: 30px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  color: black;
  cursor: pointer;
}

.cartItemIncreaseQuantityButton:active {
  transform: translateY(1.2px);
}

.cartItemDecreaseQuantityButton {
  width: 30px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  color: black;
  cursor: pointer;
}

.cartItemDecreaseQuantityButton:active {
  transform: translateY(1.2px);
}

.cartItemPrice {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.cartTotalPrice {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  color: #0596f7;
  font-weight: 700;
  margin-top: 20px;
  margin-right: 50px;
}
